aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
anyio==4.9.0
attrs==25.3.0
certifi==2025.6.15
cffi==1.17.1
click==8.1.8
dotenv==0.9.9
frozenlist==1.7.0
grpclib==0.4.7
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
modal==1.0.4
multidict==6.5.0
numpy==2.3.1
propcache==0.3.2
protobuf==6.31.1
pycparser==2.22
Pygments==2.19.2
python-dotenv==1.1.1
rich==14.0.0
shellingham==1.5.4
sigtools==4.0.1
sniffio==1.3.1
soundfile==0.13.1
synchronicity==0.9.16
toml==0.10.2
typer==0.16.0
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing_extensions==4.14.0
watchfiles==1.1.0
yarl==1.20.1
